/* CSS for All */
.navbar{
  background-image: url('header.png');
  box-shadow: 0 10px 5px 0 rgba(0,0,0,.4);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-image: url('wood.jfif');
  margin: 0;
  padding: 0;
  width: 100%;
}

*{
  margin: 0 0;
  padding: 0 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*Input field in log in section*/
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #AE6E4E;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Set a style for buttons when hover*/
button:hover {
  opacity: 0.8;
  background-color: #FAE9D5;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/* Container of all pages */
.container{
    width: 80%;
    margin: auto;
    padding: 5%;
}

/*CSS for Content*/
#content {
border: 4px solid #ffffff;    
}

.content{
  width:55%;
  min-height:500px;
  margin-left: auto;
  margin-right: auto;
  margin-top:40px;
  background :rgb(0, 0, 0, .4);
  position :relative;
  padding: 30px;
  text-align: justify;
  margin-bottom: 55px;
}

/*in menu*/
.content p{
  text-align:center; 
  font-size: 50px;
}

/*in menu*/
.content img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.content p1 { 
  font-size: 15px;
  color: whitesmoke;
  text-align: justify-all;
}

/*Spacing in the menu page*/
p7{
  color: rgb(0, 0, 0,0.0);
}

/*Bootstap*/
.col-lg-3,
.col-lg-4,
.col-lg-6,
.col-md-4,
.col-md-6,
.col-sm-6, 
.col-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.hidden {
  display: none !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/*CSS in menu page*/
.gallery-page {
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.gallery-description {
  font-size: 0.95rem;
  color:white;
}

.section,
.container-inner,
.container-inner-2 {
  margin-left: auto;
  margin-right: auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .gallery-page {
    max-width: 560px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .gallery-page,
  .section,
  .container-inner,
  .container-inner-2 {
    max-width: 840px;
  }
}

/* Large devices (desktops, 992px and up) */
.gallery-item {
  max-width: 280px;
}

.gallery-img {
  margin-bottom: 20px;
}

.gallery-title {
  font-size: 1.3rem;
  font-weight: 400;
  color: yellow;
  margin-bottom: 15px;
}

.gallery-description {
  margin-bottom: 20px;
}

.gallery-price {
  font-size: 1.25rem;
  color: white;
  margin-bottom: 60px;
}

.paging-links {
  text-align: center;
  margin-bottom: 40px;
}

.paging-item {
  list-style: none;
  display: inline-block;
  border: 1px solid #AE6E4E;
  margin: 7px;
}

.paging-link {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  background-color: #AE6E4E;
}


.paging-link:hover {
  background-color: white;
  color: #FAE9D5;
}

.img-responsive{
  width: 100%;
}
.img-curve{
  border-radius: 15px;
}

.text-right{
  text-align: right;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-white{
  color: white;
}

/*CSS for link in all pages*/
a{
  color: #FAE9D5 ;
  text-decoration: none;
}

 a:hover{
  color: #744924;
}

/* CSS in container */
.float-container{
  position: relative;
}
.float-text{
  position: absolute;
  bottom: 50px;
  left: 40%;
}

/* CSSS for navbar section */
.logo{
  width: 20%;
  float: left;
}

.menu{
  line-height: 60px;
}

.menu ul{
  list-style-type: none;
}

.menu ul li{
  display: inline;
  padding: 1%;
  font-weight: bold;  
}

/*CSS in cart page*/
.containerCheckout{
  background-image: url('wood.jpeg');
  padding: 5px 20px 15px 20px;

}

.checkInput{
  width: 100%;
  margin-bottom: 20px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#check {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.clearfix{
    clear: both;
    float: none;
}

/*CSS in feedback*/
.fieldFeedback{
  position: relative;
  margin-top: 10%;
  margin-right: 20%;
  margin-left: 20%;
  background:#c6c6ec;
}

.tellus{
  font-family: monaco;
  font-size: 25px;
}

span{
  color: red;
}

.containerFeedback {
  background-image: url('wood.jpeg');
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

span{
  color: red;
}

.feedInput{
  width: 100%;
  margin-bottom: 20px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#checkFeed {
  margin-bottom: 10px;
  display: block;
}

.btn {
  background-color: #AE6E4E;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #FAE9D5;
}

/* CSS for Social */
.social ul{
  background-color: black;
  list-style-type: none;
}

.social ul li{
    display: inline;
    padding: 1%;
}

footer {
  padding: 1px;
  bottom: 0;
  width: 100%;
  left: 0;
  color:white;
  background-image: url(footer.png);
}

.map {
  background-color: #AE6E4E;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 40%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.map:hover {
  background-color: #FAE9D5;
}

#us{
  text-align: left;
  padding: 5px;
}